<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/about">About</a>
    </div>
    <div class="navbar-end">
        <% if (user) { %>
            <a class="navbar-item" href="/profile">Profile</a>
            <a class="navbar-item" href="/logout">Log Out</a>
            <div class="user-info">
                <div class="user-name">
                    <p><%= user.name %></p>
                </div>
                <div class="user-avatar">
                    <figure class="image is-32x32">
                        <img src=<%= user.avatar %> alt="avatar">
                    </figure>
                </div>
            </div>
        <% }else{ %>
            
        <% } %>
    </div>
    </div>
</nav>